.header__logo {
    width: 142px;
    margin-bottom: 41px;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        margin-left: 9%;
    }
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 105px;
        margin: 0 auto 31px;
        transform: translateX(-2.5%);
    }
}