.sign-in__input {
    border: 0;
    padding: 0;
    background-color: #ffffff00;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #101010;
}

.sign-in__input:first-of-type {
    margin-top: 0;
}

.sign-in__input:focus {
    outline: 0;
}