.popup__save-button_inactive {
    background-color: #00000000;
    border: 1px solid #000000;
    opacity: 0.2;
    color: #000;
    pointer-events: none;
}

.popup__save-button_inactive:hover {
    cursor: default;
    opacity: 0.2;
}
