.popup__input {
    border: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 358px;
    padding: 0 0 13px 0;
}

.popup__input:focus {
    outline: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
}

@media screen and (max-width: 630px){
    .popup__input {
    width: 238px;
    }
}