.profile__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 8px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 330px;
    min-width: 300px;
}

@media screen and (max-width: 767px) {
    .profile__description {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 10px 0 0;
        max-width: 265px;
        min-width: 260px;
    }
}