.popup__name {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding: 0;
    margin: 34px auto 0;
    width: 358px;
}

@media screen and (max-width: 630px){
    .popup__name {
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        margin-top: 25px;
        width: 238px;
    }
}